<ion-header>
  <ion-toolbar>
  <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngFor="let element of ventas">
    <ion-label >Total: {{element.productos.Precio + prod}} </ion-label>
    <ion-item>
      <ion-label>{{element.productos.Nombre}}</ion-label>
      <ion-label>{{element.productos.Precio}}</ion-label>
      <ion-label>{{element.productos.Cantidad}}</ion-label>
      <ion-button (click)="eliminarprod(element.id)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>

  </ion-list>

  <ion-button expand="fill">Comprar</ion-button>
  <ion-button expand="fill" (click)="eliminartabla()">Borrar carrito</ion-button>
</ion-content>
