<ion-content>
   <ion-item>
       <ion-img></ion-img>
   </ion-item>
    <ion-item>
        <ion-button>Admin</ion-button>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuAdmin" ></ion-input>
        <ion-label position="floating" > Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="passAdmin"></ion-input>
        <ion-button (click)="inicioAdmin(usuAdmin, passAdmin)">Ingresar</ion-button>
    </ion-item>
    <ion-item>
        <ion-button>Cliente</ion-button>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuClient"></ion-input>
        <ion-label position="floating"> Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="passClient"></ion-input>
        <ion-button (click)="inicioCliente(usuClient, passClient)">Ingresar</ion-button>
    </ion-item>
</ion-content>
