<ion-content>
<ion-item>
 <!-- <img id="output" src="" alt=""/> -->
</ion-item>
<ion-item>
  <input (change)="getImg($event)" accept="image/*" type="file">
</ion-item>
<ion-item>
  <ion-input id="name" placeholder="Nombre" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-input  id="direccion" placeholder="Dirección" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-input id="rfc" placeholder="RFC" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-input id="tel" placeholder="Telefono" type="number"></ion-input>
</ion-item>
  <ion-button (click)="add()" expand="full">agregar</ion-button>
  <ion-button (click)="dismiss()" expand="full">cancelar</ion-button>
</ion-content>
